<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/></h1>
      <div class="grid grid-2col">
        <div class="flexcol">
          <label>{{localize "AMW.ActorName"}}</label>
          <input type="text" name="system.actorName" value="{{system.actorName}}" placeholder="Actor's Real Name"/>
        </div>
        <div class="flexcol">
          <label>{{localize "AMW.Playbook"}}</label>
          <select name="system.playbook">
            {{#each config.playbooks as |label key|}}
            <option value="{{key}}" {{#if (eq ../system.playbook key)}}selected{{/if}}>{{localize label}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="grid grid-3col">
        <div class="flexcol">
          <label>{{localize "AMW.Role"}}</label>
          <select name="system.role">
            <option value="lead" {{#if (eq system.role "lead")}}selected{{/if}}>{{localize "AMW.RoleLead"}}</option>
            <option value="supporting" {{#if (eq system.role "supporting")}}selected{{/if}}>{{localize "AMW.RoleSupporting"}}</option>
          </select>
        </div>
        <div class="flexcol">
          <label>{{localize "AMW.MovieName"}}</label>
          <input type="text" name="system.movieName" value="{{system.movieName}}" placeholder="Current Movie"/>
        </div>
        <div class="flexcol">
          <label>{{localize "AMW.CharacterName"}}</label>
          <input type="text" name="system.characterName" value="{{system.characterName}}" placeholder="Character in Movie"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">{{localize "AMW.TabStats"}}</a>
    <a class="item" data-tab="moves">{{localize "AMW.TabMoves"}}</a>
    <a class="item" data-tab="gear">{{localize "AMW.TabGear"}}</a>
    <a class="item" data-tab="notes">{{localize "AMW.TabNotes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Stats Tab --}}
    <div class="tab" data-group="primary" data-tab="stats">
      <div class="grid grid-2col">
        {{!-- Left Column: Stats --}}
        <div class="flexcol">
          <h2>{{localize "AMW.Stats"}}</h2>
          <div class="stats-grid">
            <div class="stat-block {{#if stats.agility.highlighted}}highlighted{{/if}}">
              <div class="stat-name">{{localize "AMW.StatAgility"}}</div>
              <div class="stat-value">
                <input type="number" name="system.stats.agility.value" value="{{system.stats.agility.value}}" min="-3" max="3"/>
              </div>
              <button type="button" class="stat-roll" data-stat="agility">{{localize "AMW.Roll"}}</button>
            </div>
            <div class="stat-block {{#if stats.drama.highlighted}}highlighted{{/if}}">
              <div class="stat-name">{{localize "AMW.StatDrama"}}</div>
              <div class="stat-value">
                <input type="number" name="system.stats.drama.value" value="{{system.stats.drama.value}}" min="-3" max="3"/>
              </div>
              <button type="button" class="stat-roll" data-stat="drama">{{localize "AMW.Roll"}}</button>
            </div>
            <div class="stat-block {{#if stats.muscles.highlighted}}highlighted{{/if}}">
              <div class="stat-name">{{localize "AMW.StatMuscles"}}</div>
              <div class="stat-value">
                <input type="number" name="system.stats.muscles.value" value="{{system.stats.muscles.value}}" min="-3" max="3"/>
              </div>
              <button type="button" class="stat-roll" data-stat="muscles">{{localize "AMW.Roll"}}</button>
            </div>
            <div class="stat-block {{#if stats.magnetism.highlighted}}highlighted{{/if}}">
              <div class="stat-name">{{localize "AMW.StatMagnetism"}}</div>
              <div class="stat-value">
                <input type="number" name="system.stats.magnetism.value" value="{{system.stats.magnetism.value}}" min="-3" max="3"/>
              </div>
              <button type="button" class="stat-roll" data-stat="magnetism">{{localize "AMW.Roll"}}</button>
            </div>
            <div class="stat-block {{#if stats.swagger.highlighted}}highlighted{{/if}}">
              <div class="stat-name">{{localize "AMW.StatSwagger"}}</div>
              <div class="stat-value">
                <input type="number" name="system.stats.swagger.value" value="{{system.stats.swagger.value}}" min="-3" max="3"/>
              </div>
              <button type="button" class="stat-roll" data-stat="swagger">{{localize "AMW.Roll"}}</button>
            </div>
          </div>

          {{!-- Highlighted Stats --}}
          <div class="highlighted-stats">
            <h3>{{localize "AMW.HighlightedStats"}}</h3>
            <div class="grid grid-2col">
              <div>
                <label>{{localize "AMW.Primary"}}</label>
                <select name="system.highlighted.primary">
                  <option value="">--</option>
                  {{#each config.stats as |label key|}}
                  <option value="{{key}}" {{#if (eq ../system.highlighted.primary key)}}selected{{/if}}>{{localize label}}</option>
                  {{/each}}
                </select>
              </div>
              <div>
                <label>{{localize "AMW.Secondary"}}</label>
                <select name="system.highlighted.secondary">
                  <option value="">--</option>
                  {{#each config.stats as |label key|}}
                  <option value="{{key}}" {{#if (eq ../system.highlighted.secondary key)}}selected{{/if}}>{{localize label}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>

        {{!-- Right Column: Resources --}}
        <div class="flexcol">
          {{!-- Harm --}}
          <div class="resource harm">
            <h3>{{localize "AMW.Harm"}}</h3>
            <div class="harm-track">
              {{#each harmLevels as |level|}}
              <div class="harm-box {{#if level.active}}active{{/if}}" data-value="{{level.value}}">
                <span class="harm-number">{{level.value}}</span>
                <span class="harm-label">{{localize level.label}}</span>
              </div>
              {{/each}}
            </div>
            <div class="harm-controls">
              <button type="button" class="harm-control" data-action="decrease">-</button>
              <span>{{localize "AMW.Current"}}: {{system.harm.value}}</span>
              <button type="button" class="harm-control" data-action="increase">+</button>
            </div>
          </div>

          {{!-- Star Power --}}
          <div class="resource star-power">
            <h3>{{localize "AMW.StarPower"}}</h3>
            <div class="star-power-track">
              {{#each starPowerTicks as |tick|}}
              <div class="star-tick {{#if tick.active}}active{{/if}}">★</div>
              {{/each}}
            </div>
            <div class="star-power-controls">
              <button type="button" class="tick-control" data-action="decrease">-</button>
              <span>{{localize "AMW.Ticks"}}: {{system.starPower.ticks}}</span>
              <button type="button" class="tick-control" data-action="increase">+</button>
            </div>
            <div>
              <label>{{localize "AMW.StarPowerValue"}}</label>
              <input type="number" name="system.starPower.value" value="{{system.starPower.value}}" min="0"/>
            </div>
          </div>

          {{!-- Experience --}}
          <div class="resource experience">
            <h3>{{localize "AMW.Experience"}}</h3>
            <div class="xp-controls">
              <button type="button" class="xp-control" data-action="decrease">-</button>
              <span>{{localize "AMW.XP"}}: {{system.experience.value}}</span>
              <button type="button" class="xp-control" data-action="increase">+</button>
            </div>
          </div>

          {{!-- Holds --}}
          <div class="resource holds">
            <h3>{{localize "AMW.Holds"}}</h3>
            <div class="holds-list">
              <div>
                <label>{{localize "AMW.Vengeance"}}</label>
                <input type="number" name="system.holds.vengeance" value="{{system.holds.vengeance}}" min="0"/>
              </div>
              <div>
                <label>{{localize "AMW.Other"}}</label>
                <input type="text" name="system.holds.other" value="{{system.holds.other}}"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Moves Tab --}}
    <div class="tab" data-group="primary" data-tab="moves">
      <div class="moves-section">
        {{!-- Basic Moves --}}
        <div class="moves-category">
          <h2>{{localize "AMW.BasicMoves"}}</h2>
          <ol class="items-list">
            {{#each basicMoves as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-name flexrow">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                <h4>{{item.name}}</h4>
              </div>
              <div class="item-controls">
                <a class="item-control move-roll" title="{{localize 'AMW.Roll'}}"><i class="fas fa-dice-d20"></i></a>
                <a class="item-control item-edit" title="{{localize 'AMW.Edit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'AMW.Delete'}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
          <div class="item-create" data-type="move" data-move-type="basic">
            <a>{{localize "AMW.CreateMove"}}</a>
          </div>
        </div>

        {{!-- Playbook Moves --}}
        <div class="moves-category">
          <h2>{{localize "AMW.PlaybookMoves"}}</h2>
          <ol class="items-list">
            {{#each playbookMoves as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-name flexrow">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                <h4>{{item.name}}</h4>
              </div>
              <div class="item-controls">
                <a class="item-control move-roll" title="{{localize 'AMW.Roll'}}"><i class="fas fa-dice-d20"></i></a>
                <a class="item-control item-edit" title="{{localize 'AMW.Edit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'AMW.Delete'}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
          <div class="item-create" data-type="move" data-move-type="playbook">
            <a>{{localize "AMW.CreateMove"}}</a>
          </div>
        </div>

        {{!-- Script Moves --}}
        <div class="moves-category">
          <h2>{{localize "AMW.ScriptMoves"}}</h2>
          <ol class="items-list">
            {{#each scriptMoves as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-name flexrow">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                <h4>{{item.name}}</h4>
                {{#if item.system.temporary}}<span class="temporary-tag">{{localize "AMW.Temporary"}}</span>{{/if}}
              </div>
              <div class="item-controls">
                <a class="item-control move-roll" title="{{localize 'AMW.Roll'}}"><i class="fas fa-dice-d20"></i></a>
                <a class="item-control item-edit" title="{{localize 'AMW.Edit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'AMW.Delete'}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
          <div class="item-create" data-type="move" data-move-type="script">
            <a>{{localize "AMW.CreateMove"}}</a>
          </div>
        </div>
      </div>
    </div>

    {{!-- Gear Tab --}}
    <div class="tab" data-group="primary" data-tab="gear">
      <div class="gear-section">
        {{!-- Weapons --}}
        <div class="gear-category">
          <h2>{{localize "AMW.Weapons"}}</h2>
          <ol class="items-list">
            {{#each weapons as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-name flexrow">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                <h4>{{item.name}}</h4>
                <div class="item-stats">
                  {{#if item.system.harm}}<span class="harm">{{item.system.harm}}-harm</span>{{/if}}
                  {{#if item.system.range}}<span class="range">{{item.system.range}}</span>{{/if}}
                </div>
              </div>
              <div class="item-controls">
                <a class="item-control gear-use" title="{{localize 'AMW.Use'}}"><i class="fas fa-hand-rock"></i></a>
                <a class="item-control item-edit" title="{{localize 'AMW.Edit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'AMW.Delete'}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
          <div class="item-create" data-type="gear" data-gear-type="weapon">
            <a>{{localize "AMW.CreateWeapon"}}</a>
          </div>
        </div>

        {{!-- Armor --}}
        <div class="gear-category">
          <h2>{{localize "AMW.Armor"}}</h2>
          <ol class="items-list">
            {{#each armor as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-name flexrow">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                <h4>{{item.name}}</h4>
                <div class="item-stats">
                  {{#if item.system.armor}}<span class="armor">{{item.system.armor}}-armor</span>{{/if}}
                </div>
              </div>
              <div class="item-controls">
                <a class="item-control gear-use" title="{{localize 'AMW.Use'}}"><i class="fas fa-shield-alt"></i></a>
                <a class="item-control item-edit" title="{{localize 'AMW.Edit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'AMW.Delete'}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
          <div class="item-create" data-type="gear" data-gear-type="armor">
            <a>{{localize "AMW.CreateArmor"}}</a>
          </div>
        </div>

        {{!-- Equipment --}}
        <div class="gear-category">
          <h2>{{localize "AMW.Equipment"}}</h2>
          <ol class="items-list">
            {{#each equipment as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-name flexrow">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                <h4>{{item.name}}</h4>
                <div class="item-description">{{item.system.description}}</div>
              </div>
              <div class="item-controls">
                <a class="item-control gear-use" title="{{localize 'AMW.Use'}}"><i class="fas fa-hand-paper"></i></a>
                <a class="item-control item-edit" title="{{localize 'AMW.Edit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'AMW.Delete'}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
          <div class="item-create" data-type="gear" data-gear-type="equipment">
            <a>{{localize "AMW.CreateEquipment"}}</a>
          </div>
        </div>
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab" data-group="primary" data-tab="notes">
      <div class="notes-section">
        <div class="grid grid-2col">
          <div class="flexcol">
            <h3>{{localize "AMW.SpecialRelationship"}}</h3>
            <input type="text" name="system.relationship.character" value="{{system.relationship.character}}" placeholder="{{localize 'AMW.RelationshipCharacter'}}"/>
            <textarea name="system.relationship.description" placeholder="{{localize 'AMW.RelationshipDescription'}}">{{system.relationship.description}}</textarea>
          </div>
          <div class="flexcol">
            <h3>{{localize "AMW.Biography"}}</h3>
            {{editor system.biography target="system.biography" button=true}}
          </div>
        </div>
        
        <div class="grid grid-2col">
          <div class="flexcol">
            <h3>{{localize "AMW.Notes"}}</h3>
            {{editor system.notes target="system.notes" button=true}}
          </div>
          <div class="flexcol">
            <h3>{{localize "AMW.GMNotes"}}</h3>
            {{editor system.gmNotes target="system.gmNotes" button=true}}
          </div>
        </div>

        {{!-- Current Script/Movie Info --}}
        <div class="script-info">
          <h3>{{localize "AMW.CurrentScript"}}</h3>
          <div class="grid grid-3col">
            <div>
              <label>{{localize "AMW.ScriptType"}}</label>
              <select name="system.script.type">
                <option value="">--</option>
                {{#each config.scripts as |label key|}}
                <option value="{{key}}" {{#if (eq ../system.script.type key)}}selected{{/if}}>{{localize label}}</option>
                {{/each}}
              </select>
            </div>
            <div>
              <label>{{localize "AMW.Villain"}}</label>
              <input type="text" name="system.script.villain" value="{{system.script.villain}}" placeholder="{{localize 'AMW.VillainName'}}"/>
            </div>
            <div>
              <label>{{localize "AMW.Camaraderie"}}</label>
              <input type="number" name="system.camaraderie" value="{{system.camaraderie}}" min="-3" max="3"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>